<mat-card>
    <mat-card [formGroup]="searchRequest" class="form">
        <mat-form-field class="full-width">
            <mat-label>Location</mat-label>
            <input matInput placeholder="enter a city, country, or zip code">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Accepted Statuses</mat-label>
            <mat-select multiple formControlName="status">
                <mat-option *ngFor='let status of statuses | async' [value]="status.value">{{status.value}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Accepted Gender(s)</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="female">Female</mat-option>
                <mat-option value="male">Male</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div formArrayName="keywords">
            <h3>
                Search Terms
                <button mat-mini-fab color="primary" (click)="addKeyword()">
                    <mat-icon>add</mat-icon>
                </button>
            </h3>

            <div *ngFor="let keyword of keywords.controls; let i=index;">
                <mat-form-field class="partial-width">
                    <mat-label>Search Term:</mat-label>
                    <input matInput placeholder="heart attack, stroke, etc." [formControlName]="i">
                </mat-form-field>
                <button *ngIf="keywords.length > 1" mat-icon-button (click)="removeKeyword(i)"
                    aria-label="Delete keyword">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>

        </div>
    </mat-card>

    <ct-full-study-table></ct-full-study-table>

</mat-card>