<h2>Contact Request</h2>
<div mat-dialog-content>
    <p class="mat-typography">Provide your email address to receive the contact information of
         a person to whom questions concerning enrollment at any location of the study can be addressed.</p>
    <mat-form-field class="email-input">
        <mat-label>Email Address</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. johndoe@example.com">
    </mat-form-field>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button (click)="onNoClick()">Nevermind</button>
    <button mat-raised-button color="primary" (click)="submit()" cdkFocusInitial>Send it my way!</button>
</mat-dialog-actions>
